<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/Bootstrap Templete/vendor/jquery/jquery.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Content/Bootstrap Templete/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap Templete/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap Templete/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <script src="~/Content/Bootstrap Templete/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Bootstrap Templete/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/Content/Bootstrap Templete/js/sb-admin-2.min.js"></script>
   
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</head>
<body id="page-top" class="nav-fixed">
    <!-- Page Wrapper -->
    <div id="wrapper" style="overflow:hidden;">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/AdminDashboard/Report">
                <div class="sidebar-brand-icon ml-0">
                    <img src="~/Content/Logo/Poll4u-Logo-Icon.png" width="70px" class="d-inline-block align-text-top" />
                </div>
                
                <div class="sidebar-brand-text mx-3" style="margin-left:0px !important;">Poll4U</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item @ViewBag.DashBoardClass">
                <a class="nav-link" href="~/AdminDashboard/Report">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item @ViewBag.UserClass">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-user"></i>
                    <span>Users</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select</h6>
                        <a class="collapse-item @ViewBag.AllUserClass" href="~/ManageUser/GetAllUsers">All Users</a>
                        <a class="collapse-item @ViewBag.RemoveUserClass" href="~/ManageUser/GetRemovedUsers">Removed Users</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item @ViewBag.PollClass">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-poll"></i>
                    <span>Polls</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Select</h6>
                        <a class="collapse-item @ViewBag.AllPollClass" href="~/Poll/AllPolls">All Polls</a>
                        <a class="collapse-item @ViewBag.ExpirePollClass" href="~/Poll/Expire_ClosePolls">Expire and Close Polls</a>
                        <a class="collapse-item @ViewBag.RemovePollClass" href="~/Poll/Get_RemovedPolls">Removed Polls</a>

                    </div>
                </div>
            </li>

            <!-- Nav Item - Admin Poll Collapse Menu -->
            <li class="nav-item @ViewBag.AdminPollClass">
                <a class="nav-link @ViewBag.AdminPollClass" href="~/Poll/AdminPoll">
                    <i class="fa fa-list-alt"></i>
                    <span>Admin Polls</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Add
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Charts -->
            <li class="nav-item @ViewBag.CategoryClass">
                <a class="nav-link" href="~/Poll/Get_Category">
                    <i class="fa fa-list-alt"></i>
                    <span>Category</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item @ViewBag.CreatePollClass">
                <a class="nav-link" href="~/Poll/Create_Poll">
                    <i class="fab fa-wpforms"></i>
                    <span>Create Poll</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <h1 class="h3 mb-0 text-gray-800">@ViewBag.PageName</h1>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">





                        <!-- Nav Item - Alerts -->


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @User.Identity.Name
                                    }
                                </span>
                                <img class="img-profile rounded-circle" src="~/Content/Profile Photo/Admin_Profile/Admin_Profile.jpg" />
                                
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    @Html.ActionLink("Logout", "Logout", "Login")
                                </div>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <div class="container-fluid">

                    @RenderBody()
                    <div class="toast">
                        <div class="tost-body" id="cmttoast">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>
<script src="~/Content/Bootstrap Templete/js/sb-admin-2.js"></script>